/* Task List Section */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffff;
    color: #333;
}

.container {
    width: 100%;
    /* max-width: 600px; */
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 18px;
    font-weight: bold;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    
}

nav a:last-child {
    margin-right: 20px;
}

.add-task-button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
}

.plus-button {
    padding: 8px 12px;
    margin-left: -75%;
}

.new-task {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    margin-left: 170px;
    padding: 20px;
}

.new-task h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    color: #666;
    margin-bottom: 5px;
}



input[type="text"]::placeholder {
    color: #b0b0b0;
}

input[type="text"] {
    padding: 20px;
    background-color: rgb(229, 226, 226);
    border: none; 
    border-radius: 5px;
    font-size: 19px;
    color: #333;
    margin-bottom: 20px;
    width: 80%; 
}


.save-button {
    align-self: flex-end; 
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-right: -500px;
}

.save-button:hover {
    background-color: #0056b3;
}
